<!doctype html>
<!-- thymeleaf는 jstl과 비슷한 기능 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>블로그</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
    	<h2>게시글 목록</h2>
    	<table class="board_list">
	        <colgroup>
	            <col width="15%"/>
	            <col width="*"/>
	            <col width="20%"/>
	            <col width="15%"/>
	        </colgroup>
	        <thead>
	            <tr>
	                <th scope="col">글번호</th>
	                <th scope="col">제목</th>
	                <th scope="col">작성자</th>
	                <th scope="col">조회수</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<!-- c:if문과 forEach문 -->
	        	<tr th:if="${#lists.size(blogList)} > 0" th:each="blogList : ${blogList}">
	        		<td th:text="${blogList.blogId}"></td>
	        		<td class="title"><a href="/board/showBlogDetail.do?blogId=" th:attrappend="href=${blogList.blogId}" th:text="${blogList.title}"></a></td>
	        		<td th:text="${blogList.writerId}"></td>
	        		<td th:text="${blogList.hitCnt}"></td>
	        	</tr>
	        	<!-- if문의 else에 해당 -->
	        	<tr th:unless="${#lists.size(blogList)} > 0">
	        		<td colspan="4">조회된 결과가 없습니다.</td>
	        	</tr>
	        </tbody>
	    </table>
	    <a href="/board/showBlogWrite.do" class="btn">글 쓰기</a>
    </div>
</body>
</html>